<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/lib/adminlte/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/lib/iCheck/square/red.css">
    <link rel="stylesheet" href="/lib/bootstrap-validator/bootstrap-validator.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-box layui-anim layui-anim-upbit">
    <div class="login-logo">
        迷 你 Q Q
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">一个属于自己的账号</p>
        <form id="register-form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="username" placeholder="请输入用户名">
                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="email" placeholder="用于验证的邮箱">
                <span class="fa fa-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" placeholder="请输入密码">
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="repeat" placeholder="确认密码">
                <span class="fa fa-repeat form-control-feedback"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox icheck hidden">
                            <label>
                                <input type="checkbox" name="yes"> 同意 <a>我很帅</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkbox icheck pull-right">
                            <a href="/forget">忘记密码</a>
                            <span>&nbsp;/&nbsp;</span>
                            <a href="/login" class="text-center">已有账号</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">注 册</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/bootstrap-validator/bootstrap-validator.min.js"></script>
<script src="/lib/iCheck/icheck.min.js"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/js/register.js"></script>
</body>
</html>